<ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
    <li class="current-menu-item"><a href="#">Home</a></li>
    <li><a href="#">features</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">about me</a></li>
    <li><a href="#">Contact</a></li>
</ul>