{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% include 'post/header_post.html.twig' %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </article>

    <a href="{{ path('post_index') }}">Page précédente</a>

{% endblock %}